/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */
#skt-menu,#skt-general, #skt-menu-alert{ margin-top:20px;}
#skt-menu-alert { height:300px; }
#skt-general { height:280px; }
#skt-menu{ height:600px;}
#skt-general h5,
#skt-menu-alert h5, 
#skt-menu-alert-content h5,#skt-menu-fixo h5{ margin:0; padding:5px;}
#skt-general form,
#skt-menu-alert .ui-state-highlight, 
#skt-menu-alert-content .ui-widget-content ,#skt-menu-fixo .ui-widget-content{padding:5px; margin-top: 2px;}
input{
    width: 322px;
    padding: 5px 3px;
}
#skt-general,
#skt-menu-alert, 
#skt-menu-alert-content,#skt-menu-fixo{ padding: 5px;}

button{ float: right;}
.skt-description { padding: 5px; font-family: Gill, Helvetica, sans-serif; }

#skt-menu-fixo { margin: 5px;}
#skt-menu-alert h5{ text-align: center;}
.box{ box-shadow: 1px 1px 1px #363636}